@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700;800;900&display=swap");
@font-face {
  font-family: "Gandhi";
  src: url("fonts/gandhi/GandhiSerif-Regular.otf") format("truetype");
}
@font-face {
  font-family: "GandhiBold";
  src: url("fonts/gandhi/GandhiSerif-BoldItalic.otf") format("truetype");
}
$font-b: "GandhiBold";
$font-bold: $font-b;
body {
  font-family: "Gandhi";
  font-weight: 300;
  font-size: 12pt;
}
