$colorprimario: #472c0f; // TODO: * Modificar color primario
$colorsecundario: #faa740; // TODO: * Modificar color secundario
$background: "media/litle_italy-fondo-pc.jpg"; // TODO: * Modificar fondo de pantalla
$font: "Cinzel", serif;
$font-decorative: "Cinzel Decorative", cursive;
$shadow: 2px 0px 20px -5px rgba(0, 0, 0, 0.75);
