$colorprimario: rgb(127, 3, 25); // TODO: * Modificar color primario
$colorsecundario: rgb(209, 179, 89); // TODO: * Modificar color secundario
$colortres: rgb(77, 77, 77);
$colorblack: #000;
$background: "media/litle_italy-fondo-pc.jpg"; // TODO: * Modificar fondo de pantalla
$font: "Cinzel", serif;
$font-g: "Gandhi", cursive;
$shadow: 2px 0px 20px -5px rgba(0, 0, 0, 0.75);
