$colorprimario: #472C0F; // TODO: * Modificar color primario
$colorsecundario:#faa740; // TODO: * Modificar color secundario
$background:'media/litle_italy-fondo-pc.jpg'; // TODO: * Modificar fondo de pantalla
$font: 'Cinzel', serif;
$font-decorative: 'Cinzel Decorative', cursive;