@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

/* Responsive Resets
-------------------------------------------------------------- */
@viewport {
  width: device-width;
}
html {
  overflow-y: auto;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}

body {
  background-image: url("media/litle_italy-fondo-pc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

@font-face {
  font-family: "Gandhi";
  src: url("fonts/gandhi/GandhiSerif-Regular.otf") format("truetype");
}
body {
  font-family: "Gandhi";
  font-weight: 300;
  font-size: 12pt;
}

.footer {
  flex-grow: 1;
  margin-top: 10px;
  width: 100%;
  display: flex;
}
.footer__body {
  width: 640px;
  margin: 0 auto;
  align-self: flex-end;
}
.footer__img {
  max-width: 100%;
  display: block;
}

.headerplate {
  background-color: black;
  height: 45px;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 40px;
}
.headerplate__picture {
  display: block;
  width: 100%;
  z-index: 30;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateY(50%) translateX(-50%);
  bottom: 0;
}
.headerplate__img {
  display: block;
  max-width: 100%;
}

.maxwidth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  background-image: url("media/litle_italy-fondo-pc.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  flex-grow: 1;
}
.menu__body {
  max-width: 800px;
  display: block;
  flex-grow: 1;
}
.menu__logo {
  background-color: #ccc;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.menu__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.menu__item {
  font-family: "Cinzel", serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #7f0319;
  width: 10rem;
  height: 4.375rem;
  position: relative;
  font-size: 1.3em;
  border: solid 3px #d1b359;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
.menu__text {
  display: block;
}

.ocultar {
  display: none;
  animation: desaparecer 0.3s linear;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#preloading {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(127, 3, 25, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
#preloading .load {
  width: 50px;
  height: 50px;
  border-top: 5px solid #d1b359;
  border-left: 5px solid #d1b359;
  border-radius: 100%;
  animation: girar 0.8s infinite linear;
  opacity: 0.7;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes desaparecer {
  from {
    opacity: 9;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.header {
  width: 100%;
  position: relative;
}
.header__img {
  max-width: 100%;
  width: 100%;
  z-index: 99;
}
.header__logo {
  width: 100%;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 50%;
  transform: translateY(45%) translateX(-50%);
}

.headerdishes {
  font-size: 1.1em;
  color: #d1b359;
  margin-bottom: 30px;
  position: relative;
}
.headerdishes__img {
  width: 100%;
  display: block;
}
.headerdishes__picture {
  display: block;
}
.headerdishes__text {
  position: absolute;
  color: #d1b359;
  display: block;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 900;
}

.dishes {
  display: grid;
  grid-template-columns: repeat(2, minmax(190px, 226px));
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  margin-bottom: 50px;
  justify-content: center;
  flex-grow: 1;
}
.dishes__link {
  text-decoration: none;
  width: 100%;
  height: auto;
}
.dishes__link:hover .dishes__img {
  transform: scale(1.03);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.dishes__picture {
  display: block;
}
.dishes__img {
  width: 100%;
  min-height: 100px;
  display: block;
  box-shadow: 2px 0px 20px -5px rgba(0, 0, 0, 0.75);
}
.dishes__text {
  text-align: center;
  width: 100%;
  display: block;
}
.dishes__name {
  text-align: center;
  font-size: 1.1em;
  color: #000;
  justify-content: center;
  font-family: "Cinzel", serif;
  font-weight: 800;
  display: flex;
  flex-wrap: wrap;
}

.content__plate {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 20;
}

.plate {
  width: 420px;
}
.plate__logo {
  position: absolute;
  right: 15px;
  top: 0;
  transform: translateY(-40%);
  width: 130px;
  z-index: 100;
}
.plate__img {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-shadow: 2px 0px 20px -5px rgba(0, 0, 0, 0.75);
}
.plate__img img {
  max-width: 100%;
  display: block;
}
.plate__cont__picture {
  overflow: hidden;
  display: block;
}
.plate__picture {
  width: 100%;
  transition: transform 5.5s linear;
}
.plate__body {
  color: #7f0319;
}
.plate__title {
  font-size: 1.6em;
  margin-top: 10px;
  margin-bottom: 7px;
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: 900;
}
.plate__price {
  text-align: center;
  font-size: 1.1em;
  color: #000;
}
.plate__text {
  font-size: 1.2em;
  margin-top: 7px;
  text-align: center;
  color: #4d4d4d;
}
.plate__pepsi {
  width: 40px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
.plate__pepsi img {
  max-width: 100%;
}
.plate .hr {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #4d4d4d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lists {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 50px;
}
.lists__header {
  text-align: center;
  margin-bottom: 10px;
}
.lists__title {
  width: 90%;
  color: #4d4d4d;
  font-size: 1.35em;
  margin: 0 auto;
}
.lists__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 7px;
}
.lists__name {
  font-size: 1.3em;
}
.lists__line {
  flex-grow: 1;
  border-bottom: 2px #7f0319;
  border-bottom-style: dotted;
}
.lists--uno {
  flex-grow: 1;
}
.lists--prices {
  width: 70px;
  text-align: center;
}
.lists__names {
  width: 100%;
  display: flex;
  margin-top: 15px;
}
.lists__drinkname {
  height: 1px;
  flex-grow: 1;
}
.lists__name-price {
  width: 70px;
  text-align: center;
  color: #4d4d4d;
}

.btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  max-width: 100px;
}
.btn__img {
  width: 100%;
}

.sponsors {
  width: 100%;
  max-width: 100%;
}
.sponsors__content {
  width: 60px;
  align-self: start;
  margin-top: 40px;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}
.sponsors__body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sponsors__img {
  max-width: 100%;
}

#Pacenia {
  width: 100px;
}

#huari {
  width: 100px;
}

#Guarana {
  width: 70px;
}

@media screen and (min-width: 1367px) {
  body {
    font-size: 19px;
  }

  .plate {
    width: 37.5rem;
  }
  .plate__logo {
    width: 10.625rem;
  }
  .menu__item {
    width: 190px;
  }

  .lists {
    font-size: 1.5rem;
    max-width: 100%;
  }
}
@media screen and (max-device-width: 768px) {
  .container {
    width: 90%;
  }

  .menu {
    padding-top: 50px;
  }
  .menu__nav {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .menu__item {
    width: 160px;
  }
  .menu__item:last-child {
    grid-row-start: auto;
    grid-column-end: auto;
  }
  .menu__item:nth-last-child(2) {
    grid-row-start: auto;
    grid-column-end: auto;
  }

  .dishes {
    grid-template-columns: repeat(3, 1fr);
  }

  .plate {
    width: 480px;
    font-size: 22px;
  }
  .plate__img {
    width: 100%;
  }
  .plate__logo {
    width: 11.25rem;
  }
  .plate__pepsi {
    width: 50px;
  }

  .lists {
    font-size: 1.2rem;
    max-width: 550px;
  }

  .btn {
    bottom: 30px;
    right: 30px;
    width: 90px;
  }

  .footer__body {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
    background-image: url("media/litaly-fondo-small.jpg");
  }

  .container {
    width: 90%;
  }

  .headerdishes {
    margin-bottom: 15px;
  }

  .dishes {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 12px;
    font-size: 14px;
    font-size: 1rem;
  }
  .dishes__text {
    text-align: center;
    line-height: 0.92em;
  }
  .dishes__name {
    font-size: 0.8em;
  }

  .plate {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .plate__img {
    width: 100%;
  }
  .plate__body {
    padding-left: 10px;
    padding-right: 10px;
  }
  .plate__logo {
    right: 10px;
    width: 140px;
  }
  .plate__title {
    font-size: 2em;
    line-height: 1.1em;
    margin-bottom: 14px;
  }
  .plate__price {
    font-size: 1.6em;
  }
  .plate__text {
    font-size: 1.3em;
    margin-top: 14px;
  }

  .header__logo {
    width: 100%;
  }

  .menu {
    background-image: url("media/litaly-fondo-small.jpg");
    padding-top: 55px;
    font-size: 1rem;
  }
  .menu__nav {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
  .menu__item {
    width: 7.5em;
    height: 3.75em;
    font-size: 1em;
  }

  .lists {
    font-size: 1em;
  }

  .btn {
    width: 80px;
  }

  .sponsors__body {
    flex-direction: column;
  }
  .sponsors__content {
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer__body {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }

  .dishes__text {
    font-size: 1.2em;
  }

  .menu {
    font-size: 0.7rem;
  }
  .menu__item {
    width: 100px;
    font-size: 1em;
  }
  .menu__nav {
    grid-gap: 8px;
  }

  .lists {
    font-size: 1.1rem;
  }
}