-   
    var drinks = [
        {
            name: "Bebidas sin Alcohol",
            items: [
                {
                    name: "Pepsi 500 ml",
                    price: "14"
                }
            ]
        }
    ]