//- TODO: *Configuraciones iniciales
- var title = "Litle Italy"
- var author = "Cristhian Chauca Mariaca"
- var page = "Menu"
- var metadescripcion = "Litle Italy"
- var keywords = ""
//- TODO: *config THEME
- var logo = {img:"litle_italy",extention:".svg",alt: "Logo Litle Italy"}
- var favIcon = "litle_italy-icon.png"
- var colorTheme = "#000"
- var bannerHeader= {img:"litle_italy-header",extention:".jpg", alt: "Litle Italy banner"}
- var sponsor = "pepsi_logo.png"
- var boton = "boton.svg"
- var btnAtras = "back_button.svg"
- 
    var sponsors= 
    [
        {
            name:"Pacenia",
            img:"pacenia",
            extencion:".svg"
        },
        {
            name:"huari",
            img:"huari",
            extencion:".svg"
        },
        {
            name:"H2OH",
            img:"h2oh",
            extencion:".svg"
        },
        {
            name:"Pepsi",
            img:"pepsi",
            extencion:".svg"
        },
        
        {
            name:"7-up",
            img:"7-up",
            extencion:".svg"
        },
        {
            name:"Guarana",
            img:"guarana",
            extencion:".svg"
        }
    ]