-   
    // TODO: nombre de variable PLATES
    var entradas = {
        name: "ENTRADAS",
        category: "entradas",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "SOPA_MINESTRONE",
                text: "Sopa Minestrone",
                description: "Sopa típica de Italia.",
                price_uno: "22",
                price_dos: "",
                price_tres: "",
                link:"sopa_inestrone.html",
                status: true
            },
            {
                img: "ENSALADA_CESAR",
                text: "Ensalada Cesar",
                description: "",
                price_uno: "26",
                price_dos: "",
                price_tres: "",
                link:"ensalada_ceasar.html",
                status: true
            },
            {
                img: "CARPACCIO_LITTLE_ITALY",
                text: "Carpacio Little Italy",
                description: "Variedad de carapacios de res, salmon, atun y puplo servido con rúcula, alcaparras, parmesano, y aderezo.",
                price_uno: "139",
                price_dos: "",
                price_tres: "",
                link:"carpacio_little_italy.html",
                status: true
            },
            {
                img: "CARPACCIO_DE_RES",
                text: "Carpaccio de res",
                description: "Carpaccio de res servido con rúcula, alcaparras, parmesano y un aderezo de miel y mostaza.",
                price_uno: "48",
                price_dos: "",
                price_tres: "",
                link:"carpaccio_de_res.html",
                status: true
            },
            {
                img: "SOPA_MINESTRONE",
                text: "Carpaccio de salmon",
                description: "Carpaccio de salmon servido con rúcula, alcaparras, parmesano y un aderezo de miel y mostaza.",
                price_uno: "52",
                price_dos: false,
                price_tres: false,
                link:"carpaccio_de_salmon.html",
                status: true
            },
            {
                img: "SOPA_MINESTRONE",
                text: "Carpaccio de atun",
                description: "Carpaccio de atun servido con rúcula, alcaparras, parmesano y un aderezo de miel y mostaza.",
                price_uno: "54",
                price_dos: false,
                price_tres: false,
                link:"carpaccio_de_atun.html",
                status: true
            },
            {
                img: "CARPACCIO_DE_PULPO",
                text: "Carpaccio de pulpo",
                description: "Carpaccio de pulpo servido con rúcula, alcaparras, parmesano y un aderezo de miel y mostaza.",
                price_uno: "52",
                price_dos: false,
                price_tres: false,
                link:"carpaccio_de_pulpo.html",
                status: true
            },
            {
                img: "COCTEL_DE_LANGOSTINOS",
                text: "Coctel de langostinos",
                description: "Coctel de langostinos servido con lechuga, tomate, huevo y una salsa de whiskey coctel.",
                price_uno: "44",
                price_dos: false,
                price_tres: false,
                link:"coctel_de_langostinos.html",
                status: true
            },
            {
                img: "CHAMPINIONES_PROVENZAL",
                text: "Champiñones Provenzal",
                description: "Champinones salteada con ajo servido con pan.",
                price_uno: "34",
                price_dos: false,
                price_tres: false,
                link:"champiniones_provenzal.html",
                status: true
            }
        ]
    }