-   
    // TODO: nombre de variable PLATES
    var infantil = {
        name: "Menu Infantil",
        category: "infantil",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "SALCHI_PASTA",
                text: "Salchi Pasta",
                description: "Pasta servida con salchichas y salsa de tomate.",
                price_uno: 69,
                price_dos: 38,
                price_tres: 20,
                link:"salchi_pasta.html",
                status: true
            }
        ]
    }