-   
    var menu = [
        {
            name: "PIZZAS",
            link: "pizzas.html",
            status: true
        },
        {
            name: "MENÚ INFANTIL",
            link: "infantil.html",
            status: true
        },
        {
            name: "ENTRADAS",
            link: "entradas.html",
            status: true
        },
        {
            name: "PASTAS",
            link: "pastas.html",
            status: true
        },
        {
            name: "PLATOS PRINCIPALES",
            link: "platos_principales.html",
            status: true
        },
        {
            name: "POSTRES",
            link: "postres.html",
            status: true
        },
        {
            name: "COMBOS",
            link: "combos.html",
            status: true
        },
        {
            name: "BEBIDAS",
            link: "bebidas.html",
            status: true
        }
    ]