-   
    // TODO: nombre de variable PLATES
    var pastas = {
        name: "PASTAS",
        category: "pastas",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "SALCHI_PASTA",
                text: "Salchi Pasta",
                description: "Pasta servida con salchichas y salsa de tomate.",
                price_uno: 69,
                price_dos: 38,
                price_tres: 20,
                link:"salchi_pasta.html",
                status: false
            },
            {
                img: "PASTA_AL_PESTO",
                text: "Pasta Al Pesto",
                description: "Pasta a elección con pesto verde, almendras, queso parmesano y pollo.",
                price_uno: 99,
                price_dos: 48,
                price_tres: 26,
                link:"pasta_al_pesto.html",
                status: true
            },
            {
                img: "PASTA_ALFREDO",
                text: "Pasta Alfredo con pollo",
                description: "Pasta cremosa Alfredo, con champiñones frescos, cebolla, parmesano y pollo.",
                price_uno: 104,
                price_dos: 58,
                price_tres:30,
                link:"pasta_alfredo_con_pollo.html",
                status: true
            },
            {
                //- TODO: - falta foto pasta al ajillo
                img: "PASTA_AL_AJILLO",
                text: "Pasta Al Ajillo",
                description: "Pasta a elección con aceite de oliva, ajo y cebolla.",
                price_uno: 96,
                price_dos: 44,
                price_tres:25,
                link:"pasta_al_ajillo.html",
                status: true
            },
            {
                img: "PASTA_AL_AJILLO_Y_LANGOSTINOS",
                text: "Pasta Al Ajillo con Langostinos",
                description: "Pasta a elección con langostinos, aceite de oliva, ajo y cebolla.",
                price_uno: 106,
                price_dos: 62,
                price_tres:36,
                link:"pasta_al_ajillo_con_langostinos.html",
                status: true
            },
            {
                img: "PASTA_BOLOGNESA",
                text: "Pasta Boloñesa",
                description: "Salsa boloñesa, la más conocida, servida con pasta a elección.",
                price_uno: 99,
                price_dos: 46,
                price_tres:25,
                link:"pasta_boloniesa.html",
                status: true
            },
            {
                img: "PASTA_CARBONARA",
                text: "Pasta Carbonara",
                description: "Pasta elaborada con huevo, crema, cebolla, ajo y tocino.",
                price_uno: 102,
                price_dos: 54,
                price_tres:28,
                link:"pasta_carbonara.html",
                status: true
            },
            {
                img: "PASTA_PROSCUITO_ROQUEFORT",
                text: "Pasta Prosciutto y Roquefort",
                description: "Jamón en su salsa de Roquefort con pasta a elección.",
                price_uno: 103,
                price_dos: 56,
                price_tres:29,
                link:"pasta_prosciutto_y_roquefort.html",
                status: true
            },
            {
                img: "PASTA_MARINERA",
                text: "Pasta Marinera",
                description: "Variedad de mariscos, langostinos, calamares, pulpo servidos con una salsa cremosa.",
                price_uno: 106,
                price_dos: 62,
                price_tres:32,
                link:"pasta_marinera.html",
                status: true
            },
            {
                img: "PASTA_POLLO_CURRY",
                text: "Pasta Curry Pollo",
                description: "Pasta a elección con una salsa cremosa de curry y pollo.",
                price_uno: 104,
                price_dos: 58,
                price_tres:30,
                link:"pasta_curry_pollo.html",
                status: true
            },
            {
                img: "GNOCCHI",
                text: "Gnocchi",
                description: "Gnocchi caseros de papa servido con parmesano y salsa boloñesa.",
                price_uno: 100,
                price_dos: 52,
                price_tres:27,
                link:"gnocchi.html",
                status: true
            },
            {
                img: "LASANIA",
                text: "Lasaña a la Boloñesa",
                description: "Láminas de pasta con queso mozzarella, parmesano con un bechamel de salsa boloñesa cocinada al horno.",
                price_uno: false,
                price_dos: 55,
                price_tres: 25,
                link:"lasania_a_la_boloniesa.html",
                status: true
            }
        ]
    }