-   
    // TODO: nombre de variable PLATES
    var pastas = {
        name: "PASTAS",
        category: "pastas",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "SALCHI_PASTA",
                text: "Salchi Pasta",
                description: "Pasta servida con salchichas y salsa de tomate.",
                price_uno: {monto:"69",tipo:"Familiar"},
                price_dos: {monto:"38",tipo:"Personal"},
                price_tres: {monto:"20",tipo:"Porción"},
                link:"salchi_pasta.html",
                status: true
            },
            {
                img: "PASTA_AL_PESTO",
                text: "Pasta Al Pesto",
                description: "Pasta a elección con pesto verde, almendras, y queso parmesano y pollo.",
                price_uno: {monto:"99", tipo:"Familiar"},
                price_dos: {monto:"48",tipo:"Personal"},
                price_tres:{monto:"26",tipo:"Porción"},
                link:"pasta_al_pesto.html",
                status: true
            },
            {
                img: "PASTA_ALFREDO",
                text: "Pasta Alfredo con pollo",
                description: "Pasta cremosa Alfredo, con champiñones frescos, cebolla, parmesano y pollo.",
                price_uno: {monto:"104", tipo:"Familiar"},
                price_dos: {monto:"58",tipo:"Personal"},
                price_tres:{monto:"30",tipo:"Porción"},
                link:"pasta_alfredo_con_pollo.html",
                status: true
            },
            {
                //- TODO: - falta foto pasta al ajillo
                img: "SOPA_MINESTRONE",
                text: "Pasta Al Ajillo",
                description: "Pasta a elección con aceite de oliva, ajo y cebolla.",
                price_uno: {monto:"96", tipo:"Familiar"},
                price_dos: {monto:"44",tipo:"Personal"},
                price_tres:{monto:"25",tipo:"Porción"},
                link:"pasta_al_ajillo.html",
                status: true
            },
            {
                img: "PASTA_AL_AJILLO_Y_LANGOSTINOS",
                text: "Pasta Al Ajillo con Langostinos",
                description: "Pasta a elección con langostinos, aceite de oliva, ajo y cebolla.",
                price_uno: {monto:"106", tipo:"Familiar"},
                price_dos: {monto:"62",tipo:"Personal"},
                price_tres:{monto:"36",tipo:"Porción"},
                link:"pasta_al_ajillo_con_langostinos.html",
                status: true
            },
            {
                img: "PASTA_BOLOGNESA",
                text: "Pasta Boloñesa",
                description: "La salsa boloñesa más conocida, servida con pasta a elección.",
                price_uno: {monto:"99", tipo:"Familiar"},
                price_dos: {monto:"46",tipo:"Personal"},
                price_tres:{monto:"25",tipo:"Porción"},
                link:"pasta_boloniesa.html",
                status: true
            },
            {
                img: "PASTA_CARBONARA",
                text: "Pasta Carbonara",
                description: "Pasta elaborada con huevo, crema, cebolla, ajo y tocino.",
                price_uno: {monto:"102", tipo:"Familiar"},
                price_dos: {monto:"54",tipo:"Personal"},
                price_tres:{monto:"28",tipo:"Porción"},
                link:"pasta_carbonara.html",
                status: true
            },
            {
                img: "PASTA_PROSCUITO_ROQUEFORT",
                text: "Pasta Prosciutto y Roquefort",
                description: "Jamón en su salsa de Roquefort con pasta al elección.",
                price_uno: {monto:"103", tipo:"Familiar"},
                price_dos: {monto:"56",tipo:"Personal"},
                price_tres:{monto:"29",tipo:"Porción"},
                link:"pasta_prosciutto_y_roquefort.html",
                status: true
            },
            {
                img: "PASTA_MARINERA",
                text: "Pasta Marinera",
                description: "Variedad de mariscos, langostinos, calamares, pulpo servidos con una salsa cremosa .",
                price_uno: {monto:"106", tipo:"Familiar"},
                price_dos: {monto:"62",tipo:"Personal"},
                price_tres:{monto:"32",tipo:"Porción"},
                link:"pasta_marinera.html",
                status: true
            },
            {
                img: "PASTA_POLLO_CURRY",
                text: "Pasta Curry Pollo",
                description: "Pasta a elección con una salsa cremosa de curry y pollo.",
                price_uno: {monto:"104", tipo:"Familiar"},
                price_dos: {monto:"58",tipo:"Personal"},
                price_tres:{monto:"30",tipo:"Porción"},
                link:"pasta_curry_pollo.html",
                status: true
            },
            {
                img: "GNOCCHI",
                text: "Gnocchi",
                description: "Gnocchi caseros de papa servido con parmesano y salsa boloñesa.",
                price_uno: {monto:"100", tipo:"Familiar"},
                price_dos: {monto:"52",tipo:"Personal"},
                price_tres:{monto:"27",tipo:"Porción"},
                link:"gnocchi.html",
                status: true
            },
            {
                img: "LASANIA",
                text: "Lasaña a la boloñesa",
                description: "Láminas de pasta con queso mozzarella, parmesano con un bechamel de salsa boloñesa en el horno.",
                price_uno: {monto:"55", tipo: "Personal"},
                price_dos: {monto:"25",tipo:"Porción"},
                price_tres: false,
                link:"lasania_a_la_boloniesa.html",
                status: true
            }
        ]
    }