-   
    // TODO: nombre de variable PLATES
    var pizzas = {
        name: "PIZZAS",
        category: "pizzas",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "margarita",
                text: "Bumacha Pasta",
                description: "Salsa de tomate, mozzarella, orégano y albahaca.",
                price_uno: "Bs 46",
                price_dos: "",
                link:"margarita.html",
                status: true
            },
            {
                img: "margarita",
                text: "Humacha Pasta 2",
                description: "Salsa de tomate, mozzarella, orégano y albahaca.",
                price_uno: "Bs 46",
                price_dos: "",
                link:"margarita.html",
                status: true
            },
            {
                img: "margarita",
                text: "Humacha Pasta 3",
                description: "Salsa de tomate, mozzarella, orégano y albahaca.",
                price_uno: "Bs 46",
                price_dos: "",
                link:"margarita.html",
                status: true
            },
            {
                img: "margarita",
                text: "Bumacha Pasta 4",
                description: "Salsa de tomate, mozzarella, orégano y albahaca.",
                price_uno: "Bs 46",
                price_dos: "",
                link:"margarita.html",
                status: true
            },
            {
                img: "margarita",
                text: "Humacha Pasta 5",
                description: "Salsa de tomate, mozzarella, orégano y albahaca.",
                price_uno: "Bs 46",
                price_dos: "",
                link:"margarita.html",
                status: true
            },
            {
                img: "margarita",
                text: "Humacha Pasta 6",
                description: "Salsa de tomate, mozzarella, orégano y albahaca.",
                price_uno: "Bs 46",
                price_dos: "",
                link:"margarita.html",
                status: true
            },
            {
                img: "margarita",
                text: "Humacha Pasta 7",
                description: "Salsa de tomate, mozzarella, orégano y albahaca.",
                price_uno: "Bs 46",
                price_dos: "",
                link:"margarita.html",
                status: true
            }
        ]
    }