-   
    // TODO: nombre de variable PLATES
    var pizzas = {
        name: "PIZZAS",
        category: "pizzas",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "margarita",
                text: "Bumacha Pasta",
                description: "Salsa de tomate, mozzarella, orégano y albahaca.",
                price_uno: "Bs 46",
                price_dos: "",
                link:"margarita.html",
                status: true
            }
        ]
    }