-   
    // TODO: nombre de variable PLATES
    var pizzas = {
        name: "PIZZAS",
        category: "pizzas",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "PIZZA_MARGARITA",
                text: "Margarita",
                description: "Salsa de tomate, mozzarella, orégano y albahaca.",
                price_uno: "24",
                price_dos: "46",
                price_unotres: false,
                link:"margarita.html",
                status: true
            },
            {
                img: "PIZZA_BOLOGNESA",
                text: "Pizza a la Boloñesa",
                description: "Salsa boloñesa, tocino y queso parmesano.",
                price_uno: "32",
                price_dos: "58",
                price_tres: false,
                link:"pizza_a_la_boloniesa.html",
                status: true
            },
            {
                img: "PIZZA_PESTO",
                text: "Al pesto Genovesa",
                description: "Queso, pesto, morrón, almendras y alcaparras.",
                price_uno: "25",
                price_dos: "48",
                price_tres: false,
                link:"al_pesto_genovesa.html",
                status: true
            },
            {
                img: "PIZZA_FUNGHI",
                text: "Funghi",
                description: "Salsa de tomate, mozarella, albahaca y champiñones.",
                price_uno: "25",
                price_dos: "48",
                price_tres: false,
                link:"funghi.html",
                status: true
            },
            {
                img: "PIZZA_MARINERA",
                text: "Marinera",
                description: "Salsa de tomate, cebolla, mozzarella, pulpo y langostinos.",
                price_uno: "26",
                price_dos: "52",
                price_tres: false,
                link:"marinera.html",
                status: true
            },
            {
                img: "HAWAIANA",
                text: "Hawaiana",
                description: "Salsa de tomate, mozzarella, jamón y piña.",
                price_uno: "25",
                price_dos: "48",
                price_tres: false,
                link:"hawaiana.html",
                status: true
            },
            {
                img: "PIZZA_CARNIVORA",
                text: "Carnívora",
                description: "Salsa boloñesa, salame, trozos de carne y queso.",
                price_uno: "27",
                price_dos: "54",
                price_tres: false,
                link:"carnivora.html",
                status: true
            },
            {
                img: "PIZZA_CUATRO_ESTACIONES",
                text: "4 estaciones",
                description: "Salsa de tomate, mozzarella, salame, jamón, champiñones, cebolla y aceitunas.",
                price_uno: "26",
                price_dos: "52",
                price_tres: false,
                link:"4estaciones.html",
                status: true
            },
            {
                img: "PIZZA_CUATRO_QUESOS",
                text: "4 quesos",
                description: "Pizza hecha con 4 diferentes quesos.",
                price_uno: "28",
                price_dos: "56",
                price_tres: false,
                link:"4quesos.html",
                status: true
            },
            {
                img: "SALCHI_PIZZA",
                text: "Salchi Pizza",
                description: "Pizza de la casa con salsa de tomate, salchichas y queso.",
                price_uno: 20,
                price_dos: 40,
                price_tres: false,
                link:"salchi_pizza.html",
                status: true
            },
            {
                //- TODO: Foto Hawaiana - Carnivora
                img: "HAWAIANA_CARNIVORA",
                text: "Hawaiana - Carnivora",
                description: "Pizza Hawaiana - mitad Carnivora.",
                price_uno: "26",
                price_dos: "52",
                price_tres: false,
                link:"hawaiana_carnivora.html",
                status: true
            },
            {
                //- TODO: Foto Funghi - Boloñesa
                img: "FUNGHI_BOLONIESA",
                text: "Funghi - Boloñesa",
                description: "Pizza Funghi - mitad Boloñesa.",
                price_uno: "28",
                price_dos: "56",
                price_tres: false,
                link:"funghi_Boloniesa.html",
                status: true
            },
            {
                img: "CALZONE",
                text: "Calzone",
                description: "Queso mozzarella , salsa Pomorola, jamón, tomates cherrys y salame.",
                price_uno: 52,
                price_dos: false,
                price_tres: false,
                link:"calzone.html",
                status: true
            },
            {
                img: "STROMBOLI",
                text: "Stromboli",
                description: "Pizza enrollada con queso, peperoni y orégano.",
                price_uno: "24",
                price_dos: "46",
                price_tres: "70",
                link:"stromboli.html",
                status: true
            }

        ]
    }