-   
    // TODO: nombre de variable PLATES
    var pizzas = {
        name: "PIZZAS",
        category: "pizzas",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "PIZZA_MARGARITA",
                text: "Margarita",
                description: "Salsa de tomate, mozzarella, orégano y albahaca.",
                price_uno: "70",
                price_dos: "46",
                price_tres: "24",
                link:"margarita.html",
                status: true
            },
            {
                img: "PIZZA_BOLOGNESA",
                text: "Pizza a la Boloñesa",
                description: "Salsa boloñesa, tocino y queso parmesano.",
                price_uno: "82",
                price_dos: "58",
                price_tres: "32",
                link:"pizza_a_la_boloniesa.html",
                status: true
            },
            {
                img: "PIZZA_PESTO",
                text: "Al pesto Genovesa",
                description: "Queso, pesto, morrón, almendras y alcaparras.",
                price_uno: "72",
                price_dos: "48",
                price_tres: "25",
                link:"al_pesto_genovesa.html",
                status: true
            },
            {
                img: "PIZZA_FUNGHI",
                text: "Funghi",
                description: "Salsa de tomate, mozarella, albahaca y champiñones.",
                price_uno: "72",
                price_dos: "48",
                price_tres: "25",
                link:"funghi.html",
                status: true
            },
            {
                img: "PIZZA_MARINERA",
                text: "Marinera",
                description: "Salsa de tomate, cebolla, mozzarella, pulpo y langostinos.",
                price_uno: "78",
                price_dos: "52",
                price_tres: "26",
                link:"marinera.html",
                status: true
            },
            {
                img: "HAWAIANA",
                text: "Hawaiana",
                description: "Salsa de tomate, mozzarella, jamón y piña.",
                price_uno: "72",
                price_dos: "48",
                price_tres: "25",
                link:"hawaiana.html",
                status: true
            },
            {
                img: "PIZZA_CARNIVORA",
                text: "Carnívora",
                description: "Salsa boloñesa, salame, trozos de carne y queso.",
                price_uno: "80",
                price_dos: "54",
                price_tres: "27",
                link:"carnivora.html",
                status: true
            },
            {
                img: "PIZZA_CUATRO_ESTACIONES",
                text: "4 estaciones",
                description: "Salsa de tomate, mozzarella, salame, jamón, champiñones, cebolla y aceitunas.",
                price_uno: "78",
                price_dos: "52",
                price_tres: "26",
                link:"4estaciones.html",
                status: true
            },
            {
                img: "PIZZA_CUATRO_QUESOS",
                text: "4 quesos",
                description: "Pizza hecha con 4 diferentes quesos.",
                price_uno: "82",
                price_dos: "56",
                price_tres: "28",
                link:"4quesos.html",
                status: true
            },
            {
                //- TODO: Foto Hawaiana - Carnivora
                img: "PIZZA_CUATRO_QUESOS",
                text: "Hawaiana - Carnivora",
                description: "Pizza Hawaiana - mitad Carnivora.",
                price_uno: "78",
                price_dos: "52",
                price_tres: "26",
                link:"hawaiana_carnivora.html",
                status: true
            },
            {
                //- TODO: Foto Funghi - Boloñesa
                img: "PIZZA_CUATRO_QUESOS",
                text: "Funghi - Boloñesa",
                description: "Pizza Funghi - mitad Boloñesa.",
                price_uno: "82",
                price_dos: "56",
                price_tres: "28",
                link:"funghi_Boloniesa.html",
                status: true
            },
            {
                img: "CALZONE",
                text: "Calzone",
                description: "",
                price_uno: "52",
                price_dos: "",
                price_tres: "",
                link:"calzone.html",
                status: true
            },
            {
                img: "STROMBOLI",
                text: "Stromboli",
                description: "Pizza enrollada con queso, peperoni y orégano.",
                price_uno: "70",
                price_dos: "45",
                price_tres: "24",
                link:"stromboli.html",
                status: true
            }

        ]
    }