-   
    // TODO: nombre de variable PLATES
    var platos_principales = {
        name: "PLATOS PRINCIPALES",
        category: "platos_principales",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "OSOBUCO",
                text: "Osobuco al Vino Tinto",
                description: "Corte de osobuco al horno con una salsa de verduras y vino tinto servido con pasta a elección.",
                price_uno: "68",
                price_dos: "",
                price_tres: "",
                link:"osobuco_al_vino_tinto.html",
                status: true
            },
            {
                img: "MILANESA_DE_POLLO",
                text: "Milanesa de Pollo",
                description: "Milanesa de pollo rebosado con parmesano servido con salsa pomarola y pasta a elección.",
                price_uno: "34",
                price_dos: "",
                price_tres: "",
                link:"milanesa_de_pollo.html",
                status: true
            },
            {
                img: "MILANESA_DE_CARNE",
                text: "Milanesa de Res",
                description: "Milanesa de res rebosado con parmesano servido con salsa pomarola y pasta elección.",
                price_uno: "36",
                price_dos: "",
                price_tres: "",
                link:"milanesa_de_res.html",
                status: true
            },
            {
                img: "LOMO_NAPOLITANO",
                text: "Lomo Napolitano",
                description: "Filete de carne con jamón, cubierto con salsa napolitana, servido con pasta a elección.",
                price_uno: "68",
                price_dos: "",
                price_tres: "",
                link:"lomo_napolitano.html",
                status: true
            },
            {
                img: "CORDON_BLUE",
                text: "Cordón Bleu",
                description: "Pollo enrollado con jamón y queso, servido con una salsa roquefort y pasta a elección.",
                price_uno: "69",
                price_dos: "",
                price_tres: "",
                link:"cordon_bleu.html",
                status: true
            },
            {
                img: "SALMON_SELLADO",
                text: "Salmón Sellado",
                description: "Filete de salmón con orégano y mantequilla, servido con pasta a elección.",
                price_uno: "89",
                price_dos: "",
                price_tres: "",
                link:"salmon_sellado.html",
                status: true
            },
            {
                img: "TRUCHA_A_LA_ROMANA",
                text: "Pescado  a la Romana",
                description: "Pescado apanado y frito, con pasta a elección.",
                price_uno: "68",
                price_dos: "",
                price_tres: "",
                link:"pescado_a_la_romana.html",
                status: true
            }
        ]
    }