-   
    // TODO: nombre de variable PLATES
    var postres = {
        name: "Postres",
        category: "postres",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "TIRAMISU",
                text: "Tiramisú",
                description: "",
                price_uno: 24,
                price_dos: false,
                price_tres: false,
                link:"Tiramisu.html",
                status: true
            },
            {
                img: "PANACOTA_LITTLE_ITALY",
                text: "Panna Cota",
                description: "",
                price_uno: 12,
                price_dos: false,
                price_tres: false,
                link:"Panna_Cota.html",
                status: false
            },
            {
                img: "BROWNIE",
                text: "Brownie",
                description: "",
                price_uno: 24,
                price_dos: false,
                price_tres: false,
                link:"Brownie.html",
                status: true
            }
            
            
        ]
    }