-   
    // TODO: nombre de variable PLATES
    var postres = {
        name: "Postres",
        category: "postres",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "TIRAMISU",
                text: "Tiramisú",
                description: "",
                price_uno: 12,
                price_dos: false,
                price_tres: false,
                link:"Tiramisu.html",
                status: true
            },
            {
                img: "PANACOTA_LITTLE_ITALY",
                text: "Panna Cota",
                description: "",
                price_uno: 12,
                price_dos: false,
                price_tres: false,
                link:"Panna_Cota.html",
                status: true
            },
            {
                img: "BROWNIE",
                text: "Brownie",
                description: "",
                price_uno: 12,
                price_dos: false,
                price_tres: false,
                link:"Brownie.html",
                status: true
            },
            {
                img: "CHEESE_CAKE",
                text: "Cheese Cake",
                description: "",
                price_uno: 10,
                price_dos: false,
                price_tres: false,
                link:"Cheese_Cake.html",
                status: true
            },
            {
                img: "SOPA_MINESTRONE",
                text: "Flan",
                description: "",
                price_uno: 8,
                price_dos: false,
                price_tres: false,
                link:"Flan.html",
                status: true
            },
            {
                img: "SOPA_MINESTRONE",
                text: "Tres Leches",
                description: "",
                price_uno: 8,
                price_dos: false,
                price_tres: false,
                link:"Tres_Leches.html",
                status: true
            }
            
        ]
    }