-   
    // TODO: nombre de variable PLATES
    var sopas = {
        name: "SOPAS",
        category: "sopas",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: "SOPA_MINESTRONE",
                text: "Sopa Minestrone",
                description: "Sopa típica de Italia.",
                price_uno: "22",
                price_dos: "",
                price_tres: "",
                link:"sopa_inestrone.html",
                status: true
            }
        ]
    }