extends ../templates/template-dishes
include ../mixins/platos
block append config
    - page = postres.name //TODO: * Modificar nombre de objeto
    - metadescripcion = postres.descripcion //TODO: * Modificar nombre de objeto
block content
    .content-dishes
        .dishes
            // TODO: * Modificar el | INCLUDE | y la variable de objetos
            each plate in postres.content
                if(plate.status === true)
                    //- TODO: * Modificar objeto para la description
                    +platos(plate.link,plate.img,plate.text,plate.price_uno,plate.price_dos,plate.price_tres,postres.category)