extends ../../templates/template.pug
include ../../mixins/plato
append config
    // TODO: * modificar variable objeto
    each plato in plates.content
        // TODO: * modificar variable TITULO
        if(plato.text == "Nombre Plato 2")
            - page = plato.text
            - metadescripcion = plato.description
block content
    .content__plate
        // TODO: * modificar variable objeto
        each plato in plates.content
            // TODO: * modificar variable TITULO
            if(plato.text == "Nombre Plato 2") 
                +plato(plato.img,plato.text,plato.price_uno,plato.price_dos,plato.description)
            
    include ../../blocks/btn_atras
    +btn(plates.category)