extends ../../templates/template.pug
include ../../mixins/plato
append config
    // TODO: * modificar variable objeto
    each plato in entradas.content
        // TODO: * modificar variable TITULO
        if(plato.text == "Ensalada Ceasar")
            - page = plato.text
            - metadescripcion = plato.description
block content
    include ../../includes/header-plate
    .content__plate
        // TODO: * modificar variable objeto
        each plato in entradas.content
            // TODO: * modificar variable TITULO
            if(plato.text == "Ensalada Ceasar") 
                +plato(plato.img,plato.text,plato.price_uno,plato.price_dos,plato.price_tres,plato.description,entradas.category,sponsors[1])
            
    include ../../blocks/btn_atras
    //- TODO: * Modificar variable
    +btn(entradas.category)
    include ../../includes/footer