extends ../../templates/template.pug
include ../../mixins/plato
append config
    // TODO: * modificar variable objeto
    each plato in pizzas.content
        // TODO: * modificar variable TITULO
        if(plato.text == "Hawaiana - Carnivora")
            - page = plato.text
            - metadescripcion = plato.description
block content
    include ../../includes/header-plate
    .content__plate
        // TODO: * modificar variable objeto
        each plato in pizzas.content
            // TODO: * modificar variable TITULO
            if(plato.text == "Hawaiana - Carnivora") 
                +plato(plato.img,plato.text,plato.price_uno,plato.price_dos,plato.price_tres,plato.description,pizzas.category)
            
    include ../../blocks/btn_atras
    //- TODO: * Modificar variable
    +btn(pizzas.category)
    include ../../includes/footer