header.headerplate
    picture.headerplate__picture
        source.headerplate__img(media="(max-width: 480px)", srcset="media/"+logo.img+"-small"+logo.extention, alt=logo.alt)
        source.headerplate__img(media="(max-width: 768px)", srcset="media/"+logo.img+"-medium"+logo.extention, alt=logo.alt)
        img.headerplate__img(srcset="media/"+logo.img+logo.extention, alt=logo.alt)