.headerdishes
    picture.headerdishes__picture
        source.headerdishes__img(media="(max-width: 480px)", srcset="media/titulo-small.png")
        source.headerdishes__img(media="(max-width: 768px)", srcset="media/titulo-medium.png")
        img.headerdishes__img(src="media/titulo.png", alt="fondo titulo")
    h3.headerdishes__text &#8226; #{page} &#8226;
        