header.header
    picture
        source.header__img(media="(max-width: 480px)", srcset="media/"+bannerHeader.img+"-small.png", alt=bannerHeader.alt)
        source.header__img(media="(max-width: 768px)", srcset="media/"+bannerHeader.img+"-medium.png", alt=bannerHeader.alt)
        img.header__img(srcset="media/"+bannerHeader.img+"-long.png", alt=bannerHeader.alt)
    img.header__logo(src="media/"+logo.img, alt=logo.alt)