.headerdishes {
  font-size: 1.1em;
  color: $colorsecundario;
  // text-transform: lowercase;
  margin-bottom: 30px;
  position: relative;
  &__img {
    width: 100%;
    display: block;
  }
  &__picture {
    display: block;
  }
  &__text {
    width: 100%;
    text-align: center;
    position: absolute;
    color: $colorsecundario;
    display: block;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 900;
  }
}
.dishes {
  display: grid;
  grid-template-columns: repeat(4, minmax(190px, 226px));
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  margin-bottom: 50px;
  justify-content: center;
  flex-grow: 1;
  width: 90%;
  margin: 0 auto;
  &__link {
    text-decoration: none;
    width: 100%;
    height: auto;
  }
  &__link:hover .dishes__img {
    transform: scale(1.03);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  &__picture {
    display: block;
  }
  &__plate {
  }
  &__img {
    width: 100%;
    min-height: 100px;
    display: block;
    box-shadow: $shadow;
  }
  &__text {
    text-align: center;
    width: 100%;
    display: block;
  }
  &__price {
    font-size: 1.1em;
  }
  &__name {
    text-align: center;
    font-size: 1.1em;
    color: $colorblack;
    justify-content: center;
    font-family: $font;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
  }
}
