.menu{
    background-image: url($background);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100wh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:100px;
    &__body{
        max-width: 800px;
        display: block;
    }
    &__logo{
        background-color: #ccc;
        width: 200px;
        height: 200px;
        margin:0 auto;
        margin-bottom: 50px;
    }
    &__nav{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    
    &__item{
        font-family: $font;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color:$colorprimario;
        position: relative;
        font-size: 1.3em;
        width: 170px;
        &:hover{
            transform: scale(1.05);
            transition:all .3s;
        }
        // &:last-child{
        //     grid-row-start: 3;
        //     grid-column-end: 4;
        // }
        // &:nth-last-child(2){
        //     grid-row-start: 3;
        //     grid-column-end: 3;
        // }
    }
    &__btn{
        width: 100%;
    }
    &__text{
        position: absolute;
        z-index: 100;
        bottom: 50%;
        right: 50%;
        transform: translateX(50%) translateY(45%);
    }
}