.content__plate {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 20;
}
.plate {
  width: 420px;
  // margin-top: 50px;
  &__logo {
    position: absolute;
    right: 15px;
    top: 0;
    transform: translateY(-40%);
    width: 130px;
    z-index: 100;
  }
  &__img {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-shadow: $shadow;
    img {
      // TODO: REVISAR ESTA ETIQUETA PARA NO CAUSAR CONFLICTO CON LAS CLASES
      max-width: 100%;
      display: block;
    }
  }
  &__cont__picture {
    overflow: hidden;
    display: block;
  }
  &__picture {
    width: 100%;
    transition: transform 5.5s linear;
  }
  &__body {
    color: $colorprimario;
    // padding-left: 30px;
    // padding-right: 30px;
  }
  &__title {
    font-size: 1.6em;
    margin-top: 10px;
    margin-bottom: 7px;
    text-align: center;
    // text-transform: uppercase;
    font-family: $font;
    font-weight: 900;
  }
  &__price {
    text-align: center;
    font-size: 1.1em;
    color: $colorblack;
  }
  &__text {
    font-size: 1.2em;
    margin-top: 7px;
    text-align: center;
    color: $colortres;
  }
  &__pepsi {
    width: 40px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .hr {
    width: 100%;
    height: 1px;
    display: block;
    background-color: $colortres;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
