extends ../../templates/template.pug
include ../../mixins/plato
append config
    // TODO: * modificar variable objeto
    each plato in platos_principales.content
        // TODO: * modificar variable TITULO
        if(plato.text == "Lomo Napolitano")
            - page = plato.text
            - metadescripcion = plato.description
block content
    include ../../includes/header-plate
    .content__plate
        // TODO: * modificar variable objeto
        each plato in platos_principales.content
            // TODO: * modificar variable TITULO
            if(plato.text == "Lomo Napolitano") 
                +plato(plato.img,plato.text,plato.price_uno,plato.price_dos,plato.price_tres,plato.description,platos_principales.category)
            
    include ../../blocks/btn_atras
    //- TODO: * Modificar variable
    +btn(platos_principales.category)
    include ../../includes/footer