extends ../../templates/template.pug
include ../../mixins/plato
append config
    // TODO: * modificar variable objeto
    each plato in pastas.content
        // TODO: * modificar variable TITULO
        if(plato.text == "Pasta Curry Pollo")
            - page = plato.text
            - metadescripcion = plato.description
block content
    include ../../includes/header-plate
    .content__plate
        // TODO: * modificar variable objeto
        each plato in pastas.content
            // TODO: * modificar variable TITULO
            if(plato.text == "Pasta Curry Pollo") 
                +plato2(plato.img,plato.text,plato.price_uno,plato.price_dos,plato.price_tres,plato.description,pastas.category,sponsors[2])
            
    include ../../blocks/btn_atras
    //- TODO: * Modificar variable
    +btn(pastas.category)
    include ../../includes/footer