extends ../../templates/template.pug
include ../../mixins/plato
append config
    // TODO: * modificar variable objeto
    each plato in pastas.content
        // TODO: * modificar variable TITULO
        if(plato.text == "Salchi Pasta")
            - page = plato.text
            - metadescripcion = plato.description
block content
    include ../../includes/header-plate
    .content__plate
        // TODO: * modificar variable objeto
        each plato in pastas.content
            // TODO: * modificar variable TITULO
            if(plato.text == "Salchi Pasta") 
                include ../../includes/plato-pastas
            
    include ../../blocks/btn_atras
    //- TODO: * Modificar variable
    +btn(pastas.category)
    include ../../includes/footer