@media screen and(max-width:360px) {
  body {
    font-size: 14px;
  }
  .dishes {
    &__text {
      font-size: 1.2em;
    }
  }
  .menu {
    font-size: 1rem;
    &__body{
      width: 100%;
    }
    &__item {
      font-size: 1.1em;
      
    }
    &__nav {
      margin:0 auto;
      width: 85%;
      max-width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and(max-width:320px) {
  .menu{
    &__nav{
      width: 90%;
    }
    &__item{
      font-size: 1em;
    }    
  }
}

