@media screen and(max-width:320px) {
  body {
    font-size: 14px;
  }
  .dishes {
    &__text {
      font-size: 1.2em;
    }
  }
  .menu {
    font-size: 0.7rem;
    &__item {
      width: 100px;
      font-size: 1em;
    }
    &__nav {
      grid-gap: 8px;
    }
  }
}
