@media screen and(max-width:480px) {
  body {
    font-size: 16px;
    background-image: url("media/litaly-fondo-small.jpg");
  }
  .container {
    width: 90%;
  }
  .headerdishes {
    margin-bottom: 15px;
    font-size: 1em;
  }
  .dishes {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 12px;
    font-size: 14px;
    font-size: 1rem;
    &__text {
      text-align: center;
      line-height: 0.92em;
    }
    &__name {
      font-size: 0.8em;
    }
  }
  .headerplate {
    height: 60px;
  }
  .plate {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    &__img {
      width: 100%;
    }
    &__body {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__logo {
      right: 10px;
      width: 140px;
    }
    &__title {
      font-size: 2em;
      line-height: 1.1em;
      margin-bottom: 14px;
    }
    &__price {
      font-size: 1.6em;
    }
    &__text {
      font-size: 1.3em;
      margin-top: 14px;
    }
  }
  .header {
    &__logo {
      width: 100%;
    }
  }
  .menu {
    background-image: url("media/litaly-fondo-small.jpg");
    padding-top: 55px;
    justify-items: stretch;
    &__nav {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 15px;
      grid-column-gap: 15px;
      width: 80%;
      margin:0 auto;
    }
    &__item {
      width: auto;
      height: 3.75em;
      font-size: 1em;
    }
  }
  .btn {
    width: 80px;
  }
  .sponsors {
    &__body {
      flex-direction: column;
    }
    &__content {
      width: 50px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .footer {
    &__body {
      width: 100%;
    }
  }
  .lists {
    // font-size: 0.9em;
    &__content {
      width: 85%;
      margin: 0 auto;
    }
  }
  .chops {
    &__prices {
      grid-template-columns: repeat(4, 50px);
    }
    &__price {
      width: 50px;
    }
    &__name {
      width: 50px;
    }
  }
}
